.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Styles */
.pending {
  color: orange;
}

.approved {
  color: green;
}

.rejected {
  color: red;
}

.NavHeaderHidden .headroom-wrapper {
  display: none !important;
}

.NavHeaderHidden div[class^='MuiDrawer-docked-'] {
  display: none !important;
}

@media (min-width: 0px) {
  .NavHeaderHidden div[class^='Layout-content-'] {
    padding-left: 24px;
  }
}

div[class^='FormInput-input-'] {
  width: 100% !important;
}

.ClientTabs {
  display: flex;
}

.ClientTab {
  color: #676767;
  padding: 18px 25px;
  position: relative;
  overflow: hidden;
  max-width: 264px;
  min-width: 72px;
  font-size: 0.875rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.ClientTab--selected {
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 2px solid #3f4ebc;
}

.form {
  display: flex;
  margin: auto;
  margin-top: 30px;
}

.add-item {
  display: flex;
}

.item {
  border-bottom: solid 1px grey;
}

.mg {
  margin-top: 15px;
  margin-bottom: 15px;
}
