body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body .Login-main-1 {
  justify-content: center;
}
.login_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-size: auto;
  background-color: #80CCFF;
  background-blend-mode: luminosity;
}

.login_form img {
  margin-bottom: 2rem;
}

.login-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 3rem;
  border-radius: 6px;
}


.input_section {
  display: flex;
  margin-bottom: 0.4rem;
  align-items: center;
}

.input_section label {
  margin-right: 2rem;
  margin-left: 1rem;
}
